
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: green;
    clear: left;
    text-align: center;
}
img {
    float: left;
    padding:15px;
    margin:10px;
}
div.head {
    text-align: left;
}

nav {
    clear:left;
    float: left;
    max-width: 160px;
    margin-left:0px;
    padding: 1em;
    border: 1px solid gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}
nav ul li a{
    display:block;
    padding:10px;
    margin:10px;
    color:white;
    background-color: aqua;
}
article {
    margin-left: 170px;

    padding: 1em;
    overflow: hidden;
}
