
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color:limegreen;
    clear: left;
    text-align: center;
}
img {
    float: left;
    padding:15px;
    margin:10px;
}
div.head {
    text-align: left;
}

nav {
    clear:left;
    float: left;
    max-width: 170px;
    margin-left:0px;
    padding: 1em;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}
nav ul li a{
    display:block;
    padding:15px;
    margin:10px;
    color:white;
    background-color:blue;
}
article {
    margin-left: 170px;

    padding: 1em;
    overflow: hidden;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}