
ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
li a {
    display: inline;
    width: 60px;
}
.article{
    float: left;
    width: 33%;
}
.logo{
    float: right;
    width: 33%;
}
.footer{
    text-align: center;
    height: 100px;
    color: black;
    background-color: white;
    text-align: center;
}
